[Unit]
Description=Run my Python script with pigpio and MQTT on boot
After=network.target pigpiod.service 
Requires=pigpiod.service 

[Service]
ExecStart=/usr/bin/python /home/pi/Desktop/my_script.py
Restart=always
RestartSec=10
User=pi
Group=pi
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=my_script_service

[Install]
WantedBy=multi-user.target
